body {
    background-image: url("https://i.ytimg.com/vi/MVYltayaOwI/maxresdefault.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    color: red;
    text-align: center;
}